<div class="banner">
  <div><h1 class="text-center">Cocktails</h1></div>
  <div>
    <%= form_tag(root_path, method: :get) do %>
      <%= text_field_tag :term, params[:term] %>
      <%= submit_tag 'Search', name: nil %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail|  %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to cocktail_path(cocktail), class: "no-deco" do %>
          <div class="card"
            style="<%= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                   url('#{ cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill }')" if cocktail.photo.present? %>">
            <h2 class="card-category"><%= cocktail.name %></h2>
          </div>
        <% end %>
        <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-trash-alt bin"></i>
        <% end %>
      </div>
    <% end %>

    <div class="col-xs-12 col-sm-4">
      <%= link_to new_cocktail_path, class: 'no-deco' do %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                   url(<%= cl_image_path("cocktails",
        width: 400, height: 300, crop: :fill) %>)">
          <h2 class="card-category">Add A Cocktail</h2>
        </div>
      <% end %>
    </div>

  </div>
</div>
